.home-main-section {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section .img-wrapper {
    flex-grow: 2;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section .homepic {
    background-image: url(images/index-foto.jpeg);
    flex-grow: 1;
    max-height: 70vw;
    min-width: 40vw;
    border-radius: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home-main-section .call-to-action {
    display :flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}

@media (max-width: 900px) {
    .home-main-section .img-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }
}

.home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
    top: 2vw;
    left: 2vw;
    z-index: -1;
}

.home-page-circle-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    top: 15vh;
    left: 70vw;
    z-index: -1;
  }

.home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }